body {
    min-width: 320px;
}

.title {
    font-size: 50px;
}

.app_buttons_container {
    font-size: 16px;
    padding: 10px;
    border: 2px solid darkblue;
}

.list_button {
    display: block;
    color: #000000;
    background-color: transparent;
    padding: 5px;
    border: 3px solid #ff9308;
    border-radius: 20px;
}

.list_button:hover {
    color: #000000;
    border-color: #ff6f00;
    text-decoration: none;
}

.list_button:focus {
    outline: none;
    border-color: #ffa847;
    background-color: #00ff00;
}

.list_button:active {
    color: #a500ff;
    border-color: #a500ff;
}

.buttons_container {
    background-color: #ffffffD9;
}

.right_center {
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-color: transparent;
}

.image:focus {
    outline: none;
}

.crud_button {
    height: 24px;
    width: 24px;
}

.crud_button_sm {
    height: 16px;
    width: 16px;
}

.crud_view {
    background-image: url("../../images/view.svg");
}

.crud_remove {
    background-image: url("../../images/remove.svg");
}

.crud_view:hover {
    background-image: url("../../images/view_hover.svg");
}

.crud_remove:hover {
    background-image: url("../../images/remove_hover.svg");
}

.crud_view:focus {
    background-image: url("../../images/view_hover.svg");
}

.crud_remove:focus {
    background-image: url("../../images/remove_hover.svg");
}

.crud_view:active {
    background-image: url("../../images/view.svg");
}

.crud_remove:active {
    background-image: url("../../images/remove.svg");
}